Django==2.2.10
wagtail==2.8.2

psycopg2==2.7.4
django-redis==4.10.0
Pillow==6.2.2
embedly==0.5.0
requests==2.20.0
raven==6.9.0
wagtail-django-recaptcha==1.0
django-basic-auth-ip-whitelist==0.2.1

django-cors-headers==3.0.2

wagtail-markdown==0.6
Pygments==2.5.2  # for code highlighting in wagtail-markdown
wagtailfontawesome==1.2.1
scout-apm==1.1.7
