{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}blog{% endblock %}

{% block content %}
<main>
  <div class="container">
    <header>
      <div class="row">
        <div class="col-md-8 offset-md-2">
          {% with categories=page.categories.all %}
            {% if categories %}
              <ul class="categories">
                {% for category in categories %}
                  <li class="list-inline-item">
                    {{ category.name }}
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
          <h1>{{ page.title }}</h1>
          <p>
            {% for author in page.authors.all %}
              {{ author.author.name }}{% if not forloop.last %},&nbsp;{% endif %}
            {% endfor %}
            on {{ page.date }}
          </p>
        </div>
      </div>
    </header>
    {% if page.image %}
      {% image page.image fill-1920x300 as image %}
      <img class="img-fluid" src="{{ image.url }}">
      {% endif %}
    <section>
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <p class="lead">{{ page.intro }}</p>
        </div>
      </div>
    </section>
    <article>
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <p>{{ page.body }}</p>
        </div>
      </div>
    </article>
    <aside>
      <div class="row">
        <div class="col-md-8 offset-md-2">
        {% for tag in page.tags.all %}
          <a class="btn btn-sm btn-outline-secondary" href="{% slugurl 'tags' %}?tag={{ tag }}">{{ tag }}</a>
        {% endfor %}
        <p><a href="{{ page.get_parent.url }}">Return to blog</a></p>
        </div>
      </div>
    </aside>
    <!-- To be removed
    {% for item in page.gallery_images.all %}
      <div style="float: left; margin: 10px">
          {% image item.image fill-320x240 %}
          <p>{{ item.caption }}</p>
      </div>
    {% endfor %}
    -->
  </div>
</main>

{% endblock %}
