{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}blog{% endblock %}

{% block content %}
<div class="container">
	<main>
	  <div class="row">
		  <div class="col-md-7 offset-md-3">
				<header>
					<p>
            <a href="/blog/">Blog</a> /
            {% with categories=page.categories.all %}
              {% if categories %}
                {% for category in categories %}
                  {{ category.name }}
                {% endfor %}
              {% endif %}
            {% endwith %}
          </p>
		      <h1>{{ page.title }}</h1>
          <p>
            {% for author in page.authors.all %}
              {% if author.author.image %}
                {% image author.author.image fill-48x48 as image %}
                <img class="avatar" src="{{ image.url }}">
              {% endif %}
              {{ author.author.name }}{% if not forloop.last %},&nbsp;{% endif %}
            {% endfor %}
            on {{ page.date }}
          </p>
				</header>
		  </div>
      <div class="col-md-3">
        <p class="text-right">
          {% for tag in page.tags.all %}
          <a class="btn btn-sm btn-outline-secondary" href="{% slugurl 'tags' %}?tag={{ tag }}">{{ tag }}</a>
          {% endfor %}
        </p>
      </div>
			<div class="col-md-7">
				<p class="intro">{{ page.intro }}</p>
			</div>
	  	<div class="col-md-7 offset-md-3">
        {% if page.image %}
          {% image page.image fill-1200x600 as image %}
          <img class="img-fluid mb-5" src="{{ image.url }}">
        {% endif %}
	    	{{ page.body }}
	  	</div>
	  </div>
	</main>
</div>
{% endblock %}
