{% extends "blog/blog_index_page.html" %}
{% load wagtailcore_tags navigation_tags wagtailimages_tags %}

{% block body_class %}blog{% endblock %}

{% block content %}
<div class="container">

  {% if request.GET.tag|length %}
    <h4>Showing pages tagged "{{ request.GET.tag }}"</h4>
  {% endif %}
  <div class="row">
  {% for post in posts %}
    {% with post=post.specific %}
      {% if forloop.first %}
      <div class="col-md-12">
        <div class="card mb-4">
          <div class="row no-gutters">
            <div class="col-md-5">
              <a href="{% pageurl post %}">
                {% image post.image fill-850x450-c50 as image %}
                <img src="{{ image.url }}" alt="{{ image.alt }}" class="card-img" />
              </a>
            </div>
            <div class="col-md-7">
              <div class="card-body">
                <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
              </div>
              <div class="card-footer">
                <small>
                  {% for author in post.authors.all %}
                  {{ author.author }}{% if not forloop.last %}, {% endif %}
                  {% endfor %} on {{ post.date }}
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% else %}
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <a href="{% pageurl post %}">
            {% image post.image fill-425x225-c50 as image %}
            <img src="{{ image.url }}" alt="{{ image.alt }}" class="card-img-top" />
          </a>
          <div class="card-body">
            <h4><a href="{% pageurl post %}">{{ post.title }}</a></h4>
          </div>
          <div class="card-footer">
            <small>
              {% for author in post.authors.all %}
                {{ author.author }}{% if not forloop.last %}, {% endif %}
              {% endfor %} on {{ post.date }}
            </small>
          </div>
        </div>
      </div>
      {% endif %}
    {% endwith %}
    {% empty %}
      <div class="col-md-4 my-4">
        <p>No pages found with that tag.</p>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
