@import "fonts";
@import "bootstrap";
@import "basics";
@import "navbar";

/* Globals */

.jumbotron {
  background-color: $gray-700;
  background-size: cover;
  border-radius: 0;
  color: white;
  .breadcrumb {
    background: none;
    border-radius: 0;
    margin-bottom: 0;
    padding: 0;
    a {
      color: white;
    }
    span {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
  }
}

.block-image_block {
  margin-top: 2rem;
  margin-bottom: 2rem;
  figure img {
    margin-bottom: 1rem;
  }
}

figcaption {
  color: $gray-600;
  font-size: 0.875rem;
  svg {
    margin-right: 0.25rem;
  }
  .fa-sm {
    font-size: 1rem;
  }
}

aside {
  i {
    margin-right: 0.5rem;
  }
}

footer {
  background: $gray-800;
  padding-bottom: 2rem;
  .joint-project {
    background: white;
    border-top: 1px solid $gray-200;
    border-bottom: 8px solid $cyan;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .social {
    color: $gray-100;
    text-transform: uppercase;
    .text-right {
      font-size: 0.75rem;
      margin-top: 0.5rem;
      i {
        margin-left: 1rem;
      }
    }
    a {
      color: white;
      &:hover {
        color: $cyan;
      }
    }
  }
  .navigation {
    margin-top: 2rem;
    margin-bottom: 1rem;
    .text-left {
      p {
        text-transform: uppercase;
      }
      color: $gray-100;
    }
    .list-unstyled {
      font-size: 0.75rem;
      li {
        padding: 0.2rem 0;
      }
    }
    .active > .nav-link {
      border-bottom: 0;
    }
    .nav-link {
      border-bottom: 0;
      padding: 0;
      &:hover {
        border-bottom: 0;
        padding: 0;
        text-decoration: underline;
      }
    }
  }
  .text {
    border-top: 1px solid $gray-400;
    color: $gray-400;
    font-size: 0.75rem;
    padding-top: 1rem;
    text-align: center;
    a {
      color: $gray-400;
      &:hover {
        color: white;
        text-decoration: none;
      }
    }
  }
}

/* Search */

.search {
  .form-inline .input-group {
    width: 100%;
  }
}

#searchModal {
  .modal-content {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .form-inline .input-group {
    width: 100%;
  }
}

/* Pages */
.home {
  .jumbotron {
    padding: 6rem 1rem;
    text-align: center;
    h1 {
      max-width: 960px;
      margin: 0 auto;
    }
    .lead {
      margin: 2rem 0;
      a {
        color: white;
        border-bottom: 1px solid white;
        padding-bottom: 0.5rem;
        &:hover {
          border-bottom: 2px solid white;
          text-decoration: none;
        }
      }
    }
  }
  .founders {
    margin-top: 4rem;
    img {
      max-width:240px;
      margin: 2rem;
    }
  }
  .featured-section {
    margin-top: 4rem;
    margin-bottom: 4rem;
    h3 {
      @extend .text-center;
      margin-bottom: 2rem;
    }
    .btn-outline-primary {
      @extend .text-center;
      margin-top: 2rem;
    }
  }
  .clients {
    margin-top: 4rem;
    margin-bottom: 4rem;
    h3 {
      @extend .text-center;
      margin-bottom: 1.5rem;
    }
    li.list-inline-item {
      margin: 1rem 2rem;
    }
  }
}

.page, .people {
  .block-heading, .block-heading_block h4 {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 2rem;
    &::first-letter {
      color: $blue;
      font-size: 4rem;
      letter-spacing: 0.25rem;
      line-height: 1;
      float: left;
      margin-bottom: -0.75rem;
    }
  }
}

section.alt {
  background: $gray-100;
}

.people {
  section {
    margin-top: 2rem;
    padding: 1rem 0;
  }
  .seniors, .team {
    background: $gray-100;
    margin-top: 2rem;
    margin-bottom: 2rem;
    h2 {
      margin-bottom: 2rem;
    }
    .card {
      @extend .mb-4;
      background: none;
      border: 0;
      border-radius: 0;
      .row {
        @extend .align-items-center;
      }
      .card-title {
        margin-bottom: 0;
      }
      .card-img {
        border-radius: 50%;
      }
    }
  }
  .lead {
    color: $blue;
  }
}

.blog {
  .categories {
    @extend .list-inline;
    color: $blue;
    margin-top: 2rem;
    margin-bottom: 0;
    text-transform: uppercase;
  }
  .avatar {
    border-radius: 50%;
  }
  .lead {
    font-size: 1.5rem;
    margin-top: 2rem;
  }
  .card {
    border: 0;
    border-radius: 0;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0,0,0,0.02)
  }
  .card-body {
    padding-bottom: 0;
  }
  .card-footer {
    background: none;
    border-top: 0;
    padding: 0 1.25rem 0.75rem
  }
  p {
    line-height: 2em;
    margin-bottom: 2rem;
  }
}

body.maps, body.blog {
  main {
    padding-bottom: 4rem;
    header {
      margin-top: 2rem;
      margin-bottom: 2rem;
      p {
        margin-bottom: 0;
      }
    }
    #map {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }
}

.contacts {
  .form-group {
    label {
      display: block;
      margin-bottom: 0;
    }
    input {
      @extend .form-control;
      margin-bottom: 1rem;
    }
  }
}

.search {
  .page-title {
    font-size: 1.25rem;
    margin-bottom: 0;
  }
}

.pagination {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

@include media-breakpoint-down(xs) {
  .blog {
    h1 {
      font-size: 2.5rem;
    }
  }
}
