@import "fonts";
@import "bootstrap";
@import "basics";
@import "navbar";

/* Globals */

.jumbotron {
  background-color: $gray-700;
  background-size: cover;
  border-radius: 0;
  color: white;
  .breadcrumb {
    background: none;
    border-radius: 0;
    margin-bottom: 0;
    padding: 0;
    a {
      color: white;
    }
    span {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
  }
}

.block-image_block {
  margin-top: 2rem;
  margin-bottom: 2rem;
  figure img {
    margin-bottom: 1rem;
  }
}

figcaption {
  color: $gray-600;
  font-size: 0.875rem;
  svg {
    margin-right: 0.25rem;
  }
  .fa-sm {
    font-size: 1rem;
  }
}

/* Search */

.search {
  .form-inline .input-group {
    width: 100%;
  }
}

#searchModal {
  .modal-content {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .form-inline .input-group {
    width: 100%;
  }
}

/* Pages */
.home {
  .jumbotron {
    padding: 6rem 1rem;
    text-align: center;
    h1 {
      max-width: 960px;
      margin: 0 auto;
    }
    .lead {
      margin: 2rem 0;
      a {
        color: white;
        border-bottom: 1px solid white;
        padding-bottom: 0.5rem;
        &:hover {
          border-bottom: 2px solid white;
          text-decoration: none;
        }
      }
    }
  }
}

.blog {
  h1 {
    font-size: 4rem;
    font-weight: 700;
  }
  .categories {
    @extend .list-inline;
    color: $blue;
    margin-top: 2rem;
    margin-bottom: 0;
    text-transform: uppercase;
  }
  .lead {
    font-size: 1.5rem;
    margin-top: 2rem;
  }
}
