@import "bootstrap";
@import "navbar";

/* Globals */

nav.navbar {
  background-image: linear-gradient(to right, darken($primary, 15%) , $primary) !important;
  color: white;
  font-weight: 700;
  padding: 0 1rem;
  a {
    color: white;
  }
  img {
    padding: 0.25rem 0;
    width: 180px;
  }
}
.nav-link {
  border-bottom: 2px solid rgba(0,0,0,0);
  color: white;
  font-weight: 400;
  letter-spacing: 1px;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 1.25rem 0;
  &:hover, &:visited, &:active {
    border-bottom: 2px solid white;
    color: white;
    padding: 1.25rem 0;
  }
}
.active > .nav-link {
  border-bottom: 2px solid white;
}

#nav-icon span {
  background: white;
}

@include media-breakpoint-down(xs) {
  header {
    .navbar-nav {
      margin-top: 6vw;
    }
    .nav-link {
      font-size: 8vw;
      text-align: center;
    }
  }
  .jumbotron {
    padding: 2rem;
    h1{
      font-size: 8vw;
      max-width: 960px;
      margin: 0 auto;
    }
  }
}

/* Home */

.home {
  .jumbotron {
    border-radius: 0;
    color: white;
    padding: 6rem 1rem;
    text-align: center;
    h1 {
      max-width: 960px;
      margin: 0 auto;
    }
    .lead {
      margin: 2rem 0;
      a {
        color: white;
        border-bottom: 1px solid white;
        padding-bottom: 0.5rem;
        &:hover {
          border-bottom: 2px solid white;
          text-decoration: none;
        }
      }
    }
  }
}
