{% extends "base.html" %}
{% load wagtailcore_tags navigation_tags wagtailimages_tags %}

{% block body_class %}page{% endblock %}

{% block head-extra %}
  {% include "base/include/head-extra.html" %}
{% endblock head-extra %}

{% block content %}
<div class="container">
  <main>
    <div class="row">
      <div class="col-md-3">
      {% if page.image.caption %}
        <figure>
          <figcaption><i class="far fa-image fa-sm"></i>{{ page.image.caption }}</figcaption>
        </figure>
      {% endif %}
      </div>
      <div class="col-md-7">
        {{ page.body }}
      </div>
    </div>
    {% if projects %}
      <div class="row mt-5">
        {% for project in projects %}
          {% include "tags/projects_list_item.html" %}
        {% endfor %}
      </div>
    {% endif %}
  </main>
</div>

{% if projects.paginator.count > 10 %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {% include "includes/pagination.html" with subpages=projects %}
      </div>
    </div>
  </div>
{% endif %}

{% endblock content %}
