{% extends "base.html" %}
{% load wagtailcore_tags navigation_tags wagtailimages_tags %}

{% block body_class %}page{% endblock %}

{% block head-extra %}
  {% include "base/include/head-project.html" %}
{% endblock head-extra %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-3">
      {% if page.image %}
        {% image page.image width-400 as image %}
        <img src="{{ image.url }}" class="img-fluid">
        {% if page.image.caption %}
          <figure>
            <figcaption><i class="far fa-image fa-sm"></i>{{ image.caption }}</figcaption>
          </figure>
        {% endif %}
      {% endif %}
    </div>
    <div class="col-md-7">
      {{ page.body }}
    </div>
  </div>
</div>
{% endblock content %}
