{% load ithaca_tags cache staticfiles wagtailuserbar wagtailcore_tags wagtailimages_tags wagtailsettings_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% with self.get_site.site_name as site_name %}{% if site_name %} | {{ site_name }}{% endif %}{% endwith %}{% endblock %}</title>
    <meta name="description" content="{% if self.search_description %}{{ self.search_description }}{% endif %}">

    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'img/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'img/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@ITHACA_org">
    <meta name="twitter:creator" content="@ITHACA_org">
    <meta name="twitter:title" content="{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %} | ITHACA">
    <meta name="twitter:description" content="{% if self.intro %}{{ self.intro|striptags|safe }}{% elif self.search_description %}{{ self.search_description }}{% endif %}">
    <meta name="twitter:image:src" content="{% if self.image %}{% image self.image width-400 as img %}{{ img.url }}{% endif %}" />

    <meta property="fb:app_id" content="" /> <!-- Review this -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://{{ request.site.hostname }}{{ self.url }}" />
    <meta property="og:title" content="{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %} | ITHACA" />
    <meta property="og:image" content="{% if self.image %}{% image self.image width-1024 as img %}{{ img.url }}{% endif %}" />
    <meta property="og:description" content="{% if self.search_description %}{{ self.search_description }}{% endif %}" />
    <meta property="og:site_name" content="ITHACA" />

    <script src="https://kit.fontawesome.com/af40dd63df.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    {% block extra_css %}
      {# Override this in templates to add extra stylesheets #}
    {% endblock %}
  </head>

  <body class="{% block body_class %}{% endblock %}">
    {% wagtailuserbar %}

    {% block header %}
      {% include "includes/header.html" with parent=site_root calling_page=self %}
    {% endblock header %}

    {% block head-extra %}
    {% endblock head-extra %}

    {% block content %}{% endblock %}

    {% block footer %}
      {% include "includes/footer.html" with parent=site_root calling_page=self %}
    {% endblock footer %}

    <!-- Search -->
    <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            {% include "search/search_box.html" %}
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="{% static 'js/jquery.slim.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ithaca.js' %}"></script>
    {% block extra_js %}
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
    <script type="text/javascript" src="{% static 'js/cookieconsent.js' %}"></script>
  </body>
</html>
