{% load wagtailimages_tags %}

<figure>
  {% image self.image width-1200 as post_img %}
  <img alt="{{ post_img.alt }}" src="{{ post_img.url }}" class="img-fluid">
  <figcaption>
    {% if self.caption and self.attribution %}
      <i class="far fa-image fa-sm"></i>{{ self.caption }} (Credits: {{ self.attribution }})
    {% elif self.caption %}
      <i class="far fa-image fa-sm"></i>{{ self.caption }}
    {% elif self.attribution %}
      <i class="far fa-image fa-sm"></i>Credits: {{ self.attribution }}
    {% endif %}
  </figcaption>
</figure>
