{% load wagtailcore_tags wagtailimages_tags ithaca_tags staticfiles %}

<div class="card">
  <a href="{% pageurl post %}">
    {% image post.image fill-425x225-c50 as image %}
    <img src="{{ image.url }}" alt="{{ image.alt }}" class="card-img-top" />
  </a>
  <div class="card-body">
    <h5 class="card-title">
      <a href="{% pageurl post %}">{{ post.title }}</a>
    </h5>
    <!-- <p class="card-text">{{ post.intro|truncatewords:15 }}</p> -->
    <p class="card-text">
      <small class="text-muted">
        {% for author in post.authors.all %}
          {{ author.author.name }}{% if not forloop.last %},&nbsp;{% endif %}
        {% endfor %}
        {% if post.date %} on {{ post.date|date:"j F Y" }} {% endif %}
      </small>
    </p>
  </div>
</div>
