{% load wagtailcore_tags wagtailimages_tags %}

<div class="col-md-12">
  <div class="card mb-3" style="width: 100%;">
    <div class="row no-gutters">
      <div class="col-md-5">
        <a href="{% pageurl project %}">
          {% image project.image fill-425x225-c50 as image %}
          <img src="{{ image.url }}" class="card-img" alt="{{ image.alt }}">
        </a>
      </div>
      <div class="col-md-7">
        <div class="card-body">
          <h5 class="card-title"><a href="{% pageurl project %}">{{ project.title }}</a></h5>
          <p class="card-text">{{ project.intro }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
