{% load wagtailcore_tags wagtailimages_tags %}

<div class="col-md-12">
  <div class="card mb-5" style="width: 100%;">
    <div class="row no-gutters">
      <div class="col-md-6">
        <a href="{% pageurl project %}">
          {% image project.image fill-480x320-c50 as image %}
          <img src="{{ image.url }}" class="card-img" alt="{{ image.alt }}">
        </a>
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h2><a href="{% pageurl project %}">{{ project.title }}</a></h2>
          <p class="card-text mt-3">{{ project.search_description }}</p>
          <p><a class="btn btn-outline-primary" href="{% pageurl project %}">About {{ project.title }}</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
