{% extends "base.html" %}

{% load ithaca_tags wagtailcore_tags wagtailimages_tags wagtailembeds_tags staticfiles %}

{% block body_class %}home{% endblock %}

{% block head-extra %}
  {% image page.image fill-1920x600 as image %}
  <div class="jumbotron" style="background-image:url('{{ image.url }}')">
    <h1 class="display-4">{{ page.hero_text }}</h1>
    {% if page.hero_cta_link %}
    <p class="lead"><a href="{% pageurl page.hero_cta_link %}">{{ page.hero_cta }}</a></p>
    {% else %}
      {{ page.hero_cta }}
    {% endif %}
  </div>
{% endblock %}

{% block content %}

  {{ page.body }}

  {% if page.featured_section_1 %}
  <div class="container">
    {% homepage_projects_listing %}
  </div>
  {% endif %}

  {% if page.featured_section_3 %}
  <div class="container">
    {% homepage_blog_listing %}
  </div>
  {% endif %}

  {% if page.clients %}
  <section>
    <div class="container clients">
			<h3>{{ self.clients_title|safe }}</h3>
      <ul class="list-inline text-center">
        {% for client in page.clients.all %}
        <li class="list-inline-item">
          {% if client.link %}<a href="{{ client.link }}">{% endif %}
            {% image client.image max-240x80 %}
          {% if client.link %}</a>{% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>
  {% endif %}

{% endblock %}
